{% load static %}
<h2>Iniciar sesión</h2>
<body>
    <head>
         <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Entrar</button>
</form>
<a href="{% url 'register' %}">¿No tenés cuenta? Registrate</a>
<footer class="bg-dark text-white mt-5 p-4 text-center">      
<p>Proyecto desarrollado por Santi &copy;{% now "Y" %}</p>
<p>Este sitio fue creado como parte de un proyecto educativo usando Django.</p>
<div>
      <a href="https://github.com/santiaggoo" target="_blank" class="text-light mx-2">GitHub</a>
</div>
</footer>   
</body>